In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
medals = pd.read_excel('Datasets/2021 Tokyo Olympics/Medals.xlsx')
medals.head()

/home/hashem/anaconda3/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Rank,Team/NOC,Gold,Silver,Bronze,Total,Rank by Total
0,1,United States of America,39,41,33,113,1
1,2,People's Republic of China,38,32,18,88,2
2,3,Japan,27,14,17,58,5
3,4,Great Britain,22,21,22,65,4
4,5,ROC,20,28,23,71,3

In [6]:
medals.describe()

            Rank       Gold     Silver     Bronze       Total  Rank by Total
count  93.000000  93.000000  93.000000  93.000000   93.000000      93.000000
mean   46.333333   3.655914   3.634409   4.322581   11.612903      43.494624
std    26.219116   7.022471   6.626339   6.210372   19.091332      24.171769
min     1.000000   0.000000   0.000000   0.000000    1.000000       1.000000
25%    24.000000   0.000000   0.000000   1.000000    2.000000      23.000000
50%    46.000000   1.000000   1.000000   2.000000    4.000000      47.000000
75%    70.000000   3.000000   4.000000   5.000000   11.000000      66.000000
max    86.000000  39.000000  41.000000  33.000000  113.000000      77.000000

In [13]:
np.average(medals.Total, weights=medals.Gold)

46.832352941176474

In [52]:
from scipy.stats import trim_mean

trim_mean(medals.Gold, 0.1)

1.96

In [53]:
len(medals)

93

In [54]:
a = medals.Gold[10:84]

In [55]:
len(a)

74

In [56]:
a.mean()

1.8513513513513513

The trimmed mean that was calculated using **trim_mean** omitted the first and last 10% of the data, and we can see this by manually removing the first 0.1*93, which I estimated to be 9 from each end, and the mean of this came very close to what **trim_mean** caculated.
* Note that the median is much closer to the trimmed mean than the mean because, unlike the mean, both of them are robust (not affected by outliers).

In [60]:
np.percentile(medals.Gold, 75)

3.0

* 75% of the countries have 3 or less Gold medals.

In [62]:
height = pd.read_csv('Datasets/archive/SOCR-HeightWeight.csv')
height.head()

   Index  Height(Inches)  Weight(Pounds)
0      1        65.78331        112.9925
1      2        71.51521        136.4873
2      3        69.39874        153.0269
3      4        68.21660        142.3354
4      5        67.78781        144.2971

In [63]:
height.describe()

              Index  Height(Inches)  Weight(Pounds)
count  25000.000000    25000.000000    25000.000000
mean   12500.500000       67.993114      127.079421
std     7217.022701        1.901679       11.660898
min        1.000000       60.278360       78.014760
25%     6250.750000       66.704397      119.308675
50%    12500.500000       67.995700      127.157750
75%    18750.250000       69.272958      134.892850
max    25000.000000       75.152800      170.924000

In [72]:
np.percentile(height['Height(Inches)'],95) * 2.54

180.61990038